name: rtiow build

on: [push]

env:
    BUILD_TYPE: Release

jobs:
    build_linux:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v1
              with:
                submodules: true

            - name: Install dependencies
              run: |
                sudo add-apt-repository -y "deb http://archive.ubuntu.com/ubuntu `lsb_release -sc` main universe restricted multiverse"
                sudo apt-get update -y -qq
                sudo apt-get install xorg-dev libgl1-mesa-dev

            - name: Create build directory
              run: cmake -E make_directory ${{runner.workspace}}/_build

            - name: Run CMake
              shell: bash
              working-directory: ${{runner.workspace}}/_build
              run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

            - name: Build
              shell: bash
              working-directory: ${{runner.workspace}}/_build
              run: cmake --build . --config $BUILD_TYPE

    build_windows:
        runs-on: windows-latest

        steps:
            - uses: actions/checkout@v1
              with:
                submodules: true

            - name: Create build directory
              run: cmake -E make_directory ${{runner.workspace}}/_build

            - name: Run CMake
              shell: bash
              working-directory: ${{runner.workspace}}/_build
              run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

            - name: Build
              shell: bash
              working-directory: ${{runner.workspace}}/_build
              run: cmake --build . --config $BUILD_TYPE

            - name: Archive binary
              uses: actions/upload-artifact@v2
              with:
                  name: binary_win
                  path: ${{runner.workspace}}/_build/Release/rtiow_gl.exe

    build_macos:
        runs-on: macOS-latest

        steps:
            - uses: actions/checkout@v1
              with:
                submodules: true

            - name: Create build directory
              run: cmake -E make_directory ${{runner.workspace}}/_build

            - name: Run CMake
              shell: bash
              working-directory: ${{runner.workspace}}/_build
              run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

            - name: Build
              shell: bash
              working-directory: ${{runner.workspace}}/_build
              run: cmake --build . --config $BUILD_TYPE

            - name: Archive binary
              uses: actions/upload-artifact@v2
              with:
                  name: binary_macos
                  path: ${{runner.workspace}}/_build/rtiow_gl
